/* This is our stylesheet */

/* We have to reset margins */
@font-face{
    font-family: barcode;
    src: url("font/code128.ttf");
}
@font-face {
    font-family: free;
    src: url("font/fortnite.otf");
}

* {
    margin: 0px;
    padding: 0px;
    font-family: comic sans ms, Helvetica, sans-serif;


}

/* We can redefine html tags */
body {
    background-color: rgb(95,202,234);
    padding: 15px;


    
}
p {
    color: hsl(300, 76%, 72%);
    margin: 5px 0 0 0;
}
h1 {
    color: white;
    margin-bottom: 25px;
}
h2 {
    color: white;
    margin: 5px 0 0 0;
}
li {
    color: white;
    margin: 5px 0 0 15px;

}
a:link {
    color: rgb(76,81,247);
    text-decoration: none;
}
a:visited{
    color: rgb(157,77,187);
    text-decoration: none;
}
a:hover{
    color: rgb(49,146,54);
    text-decoration: none;
    
}

.caption {
    color: black;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.menucontainer {
   display:grid;
   grid-template-columns: 250px auto; 
}
.sidebar{
    padding-left:10px;
    
}
.starter{
    margin-top: 0px;
}
.top{
    font-size: 75px;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 30px;
}
.card {
    background-color: aqua;
    border: black 1px solid;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
}
.card img{
    max-width: 100%;
    height: auto;
}
.card p{
    margin: 10px;
}
.card h2{
    margin: 2px;

}

@media only screen and (max-width: 600px) {
    body{
        background-color: pink;
    }
    p {
        font-size: 10px;
    }
    .menucontainer{
        grid-template-columns: none;
    }
    .top{
        font-size: 40px;
    }
    .card h2{
        font-size: 15px ;
    }
    h1 {
        font-size: 25px;
    }
}
