* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}
.container img{
    max-width: 100%;
    height: auto;
}
.container {
    margin: 25px;
    margin-top: 0px ;
    background-color: white;
}
body{
    background-color: #226096;
}
.topbar{
    display: grid;
    grid-template-rows: auto;
}

