* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}
.container img{
    max-width: 100%;
    height: auto;
    
    
}
.container {
    margin: 25px;
    margin-top: 0px ;
    background-color: white;
}
body{
    background-color: #226096;
}
.topbar{
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 80px;
    grid-auto-flow: column;



}
.card { 
    background-color: green;
}
.maincontent{
    display: grid;
    grid-template-columns: 60% 20%;
    margin-top: 50px;
    margin-left: 120px;
    grid-gap: 100px;
}
.sidebar{
    display:grid;
    grid-template-columns: none;
    padding: 10px;
}
.content{
    margin-top: 50px;
}
.video{

    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}
.responsive-iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%
}
.question {
    color: blue;
    
    font-size: 20px;
}
h2{
    color:lightskyblue;
    margin-bottom: 5px;
    margin-top: 15px;
}
.video{
    width: 100%;
}
.blurb{
    margin-top: 10px;
}

.bottombar{
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 5px;
    
    grid-auto-flow: column;
    background-color: #bebebe;
}
@media only screen and (max-width: 800px){
    .maincontent{
        grid-template-columns: none;
    }
    .maincontent{
        margin-left: 20px;
        margin-right: 20px;
    }
    .sidebar{
        grid-auto-flow: column;
    }
    .question{
        display: none;
    }
}

